<%= form_with(model: @user) do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= display_error_messages(@user,:name)%>
  </div>
  
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= display_error_messages(@user,:email)%>
  </div>
  
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <p>6字以上のパスワード</p>
  </div>

  <div>
    <%= display_error_messages(@user,:password)%>
  </div>
  
  <div>
    <div>
        <%= f.label :password_confirmation %>
    </div>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= display_error_messages(@user,:password_confirmation)%>
  </div>

  <%= f.submit "登録" %>

<% end %>